body{
    background-color: rgba(0, 148, 222, 0.849);
    padding: 30px 30px 30px 80px;
    width: 80%;
}

ul{
    list-style-type: none;
    padding: 0;
    position: relative;
}

li{
    background-color: white;
    width: 70%;
    margin: 7px;
    padding: 10px;
}

span{
    border: 2px solid black;
    float: right;
    height: 35px;
    margin: -10px;
    width: 20px;
    background-color: black;
}

a{
    text-decoration: none;
}

.navbar{
    display: inline-block;
    width: 30%;

}

.content{
    display: inline-block;
    width: 60%;
    color: rgb(0, 0, 0);
}